fastapi[standard]==0.115.12
pydantic==2.11.3
pydantic-settings==2.9.1
playwright==1.51.0
python-dotenv==1.1.0
openai==1.76.0
scrapy==2.12.0
scrapy-playwright==0.0.43
pyjwt==2.10.1
starlette==0.46.2
newrelic==10.9.0
duckduckgo-search==8.0.1
markdownify==1.1.0
langchain==0.3.24
langchain-openai==0.3.14
langchain-google-genai==2.1.3
langgraph==0.3.33
httpx==0.28.1
beautifulsoup4==4.13.4